<div class="col-md-6 col-md-offset-3">
  <div class="profile-header">
    <%= image_tag(@user.photo.url(:profile), :class => "profile-photo") %>
    <div class="profile-text">
      <h1 class="username-heading"><%= @user.username %></h1>
      <p class="user-desc">
        <% if @user.description %>
          <%= @user.description %>
        <% else %>
          User has not written a description yet.
        <% end %>
      </p>
    </div>
  </div>
  <% if @user.id == current_user.id %>
    <%= button_to "Edit Profile", edit_user_path(@user),
      :class => "submit-btn", :method => :get %>
  <% end %>
</div>
<div class="col-md-8 col-md-offset-2">
  <h1 class="user-posts-heading">
    Posts
  </h1>
  <% if @user.posts.exists? %>
    <%= render @user.posts %>
  <% else %>
    <h4 class="user-no-post"><%= @user.username + " has not created any posts yet." %>
  <% end %>
</div>
