<div class="col-md-6 col-md-offset-3">
  <h2 class="form-heading">Create a Post</h2>
  <%= form_for @post, :html => {:multipart => true} do |f| %>
    <div class="file-input-field">
      <button class="file-input-btn">
        <p class="file-input-caption">Picture (optional)</p>
        <i class="fe fe-plus file-icon"></i>
      </button>
      <img class="img-responsive preview">
      <%= f.file_field :photo, style: "display: none;" %>
    </div>
    <div class="input-field">
      <%= f.text_field :heading, placeholder: "Heading", class: "input" %>
    </div>
    <div class="input-field">
      <%= f.text_area :description, placeholder: "Description (optional)", rows: 5, class: "input" %>
    </div>
    <%= f.submit "Create", class: "btn submit-btn" %>
  <% end %>
</div>
