<div class="col-md-6 col-md-offset-3">
  <%= link_to @post.user, :action => 'go' do %>
    <div class="post-user-header">
      <%= image_tag(@post.user.photo.url(:medium), :class => "post-user-photo") %>
      <div class="post-user-text">
        <h1 class="post-username"><%= @post.user.username %></h1>
        <p class="post-time"><%= time_ago_in_words(@post.created_at) + " ago" %></p>
      </div>
    </div>
  <% end %>
  <h1 class="post-heading-lg"><%= @post.heading %></h1>
  <p class="post-text-lg"><%= @post.description %></p>
  <% if @post.photo.file? %>
    <%= image_tag(@post.photo.url, :class => "post-photo") %>
  <% end %>
  <%= form_for @comment, :html => {:multipart => true} do |f| %>
    <div class="input-field">
      <%= f.text_field :description, placeholder: "Write a comment...", class: "input"  %>
    </div>
    <%= f.hidden_field :post_id, :value => @post.id %>
  <% end %>
  <%= render @comments %>
</div>
