<!DOCTYPE html>
<html>
  <head>
    <title>Forum</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed navbar-fixed-top f-navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-menu" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand f-navbar-brand" href="/">Forum</a>
          <a href="/posts/new" class="navbar-brand create-btn">Create Post</a>
        </div>
        <div class="collapse navbar-collapse" id="collapse-menu">
          <% if user_signed_in? %>
            <ul class="nav navbar-nav navbar-right f-navbar-nav">
              <li><a href="#">Profile</a></li>
              <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
            </ul>
          <% else %>
            <ul class="nav navbar-nav navbar-right f-navbar-nav">
              <li><%= link_to "Register", new_user_registration_path %></li>
              <li><%= link_to "Login", new_user_session_path %></li>
            </ul>
          <% end %>
        </div>
      </div>
    </nav>
    <div class="container f-container">
      <%= yield %>
    </div>
  </body>
</html>
